/**
 * Savfk - Style
 * Author: Ginestra Ferraro - https://github.com/ginestra
 *
 * Main CSS style
 */

/* Global */

body {
    background: #212121;
    box-sizing: border-box;
    color:#373737;
    font-family: 'Myriad Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    color: #007edf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.column {
    margin: 0 auto;
    max-width: 1080px;
    padding: 20px 40px;
    position: relative;
}

.light {
    background: #f2f2f2;
}

.row {
    margin: 0;
    width: 100%;
}

/* Header */

header {
    background: url("../images/channelart2.png") center center;
    background-size: cover;
    min-height: 240px;
    width: 100%;
}

header h1 {
    margin: 0;
}

/* Footer */

footer {
    color: #fff;
}

#ytbutton {
 min-height: 100px;
}

.g-ytsubscribe {
    zoom: 2;  //increase if you have very small images

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}

.google-maps {
    position: relative;
    padding-bottom: 90%; // (450 รท 500 = 0.9 = 90%)
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 

/* Responsive - Media queries */

@media screen and (max-width: 640px) {
    body {
        font-size: 19px;
    }

    header {
        min-height: 100px;
    }
}
