/**
 * Savfk - Style
 * Author: Ginestra Ferraro - https://github.com/ginestra
 *
 * Main CSS style
 */

/* Global */

body {
    background: #212121;
    box-sizing: border-box;
    color:#373737;
    font-family: 'Myriad Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    color: #007edf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.column {
    margin: 0 auto;
    max-width: 1080px;
    padding: 20px 40px;
    position: relative;
}

.light {
    background: #f2f2f2;
}

.row {
    margin: 0;
    width: 100%;
}

/* Header */

header {
    background: url("../images/keyboard.jpg") center center;
    background-size: cover;
    min-height: 240px;
    width: 100%;
}

header h1 {
    margin: 0;
    padding: 38px 0 0;
    text-align: center;
}

header .logo img {
    max-height: 170px;
    /* opacity: .8; */
}

/* Footer */

footer {
    color: #fff;
}


.button {
  display: inline-block;
  border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\21e9';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/* Responsive - Media queries */

@media screen and (max-width: 640px) {
    body {
        font-size: 19px;
    }

    header {
        min-height: 100px;
    }
}
